<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in Success</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <h1>Welcome <%= user.firstName %>
            <%= user.lastName %> ! Available users</h1>
    <% for( let index=0; index < users.length; index++ ) { %>
        <div class="users">
            <div class="info">
                <h3>
                    <%= users[index].firstName %>
                        <%= users[index].lastName %>
                </h3>
                <p>
                    <%=users[index].email %>
                </p>
            </div>
            <input type="submit" value="Message" class="messageBtn">
        </div>
        <% } %>
</body>

</html>